h1, h2, h3 {
	font-weight: 500;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h1 {
    font-size: 26px;
    margin-top: 40px;
}
h2 {
	font-size: 18px;
    color: #b6b6b6;
    margin: 40px 0;
}
h3 {
	font-size: 16px;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	width: 100%;
}

/*Flex items*/
.list {
	display: flex;
	flex-wrap: wrap;
}
.list-item * {
	background-color: #fff;
}
.list-item {
	display: flex; 
	padding: 0.5em;
	width: 100%;
}
.list-number {
	font-size: 46px;
    color: red;
    font-weight: bold;
    margin: 0 0 20px;
}
.list-content {
	display: flex;
	justify-content: center;
  	align-items: center;
	flex-direction: column;
	padding: 1em;
	width: 100%;
}
.list-content p {
	flex: 1 0 auto;
	font-style: italic;
}
.list-content a {
	text-decoration: none;
    color: #b6b6b6;
    cursor: pointer;
}
.list-content img {
	flex: 1 0 auto;
	opacity: 0.5;
	width: 25%;
}
.list-content img:hover {
	transition: opacity 0.15s ease-out;
	opacity: 1;
}
.list-content a:hover {
	transition: color 0.15s ease-out;
	color: #000;
}
@media all and (min-width: 40em) {
	.list-item {
		width: 50%;
	}
}
@media all and (min-width: 60em) {
	.list-item {
		width: 33.33%;
	}
}